DATABASE_URL=sqlite+pysqlite:///./amazon_geo_rank_monitor.db
OXYLABS_USERNAME=
OXYLABS_PASSWORD=
RESIDENTIAL_PROXY_USERNAME=
RESIDENTIAL_PROXY_PASSWORD=
RESIDENTIAL_PROXY_SERVER=http://pr.oxylabs.io:7777
